html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #eee;
  padding: 20px;
  word-break: break-all;
}
